.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 56px 80px 1fr 300px;
    min-height: 140vh;
    grid-template-areas: 
    "main main main"
    "header header header"
    "sidebar sidebar sidebar"
    "footer footer footer"
}

.container header{
    background: #01204E;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.indicaciones{
    display: flex;
    align-items: center;
    justify-content: end;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    gap: 20px;
    cursor: pointer;
}

.login{
    width: 60px;
    height: auto;
    border-radius: 100px;
    position: absolute;
    right: 40px;
    border: 3px solid #948979;
    cursor: pointer;
}

.login2{
    color: aliceblue;
    position: absolute;
    right: 115px;
    font-family: "Poppins", sans-serif;
}

.logo{
    width: 100px;
    height: auto;
    border-radius: 100px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%); /* Ajustamos la posición para que quede centrado */
}

.container aside {
    background: #F6DCAC;
    grid-area: sidebar;
    padding: 20px;
}

.destinos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px; /* Aumentar el espacio vertical entre filas */
}

.destino {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el texto de la descripción */
}

.destino img {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
    border: 3px solid #F6DCAC;
}

.destino p {
    margin: 10px 0 0; /* Espacio alrededor del párrafo */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #333;
}

.container main{
    margin-top: -8px;
    display: flex;
    background: #FEAE6F;
    grid-area: main;
    position: fixed;
    border-radius: 20px;
    padding: 12px;
    left: 300px;
}

.search form {
    display: flex;
    flex-direction: row;
    gap: 27px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cajas {
    position: relative;
    width: 100%;
    max-width: 300px;
}
.cajas input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #948979;
}
button:hover{
    background-color: #0056b3;
}

.container footer{
    background: #01204E;
    grid-area: footer;
    position: relative;
}

.info{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 2.0;
}
.info2{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 2.0;
    left: 200px;  
}
